<!-- ================= TOKEN ================= -->
<section id="tokenContainer" class="mb-4">
    <!-- contenedor para mensajes -->
    <div id="alertContainer"></div>
    <h5 class="fw-semibold mb-1 text-primary"><i class="bi bi-shield-lock"></i> Estado del Token</h5>
    <p id="fechaCountry" class="fw-bold"></p>
    <div class="token-progress-container">
        <div id="tokenProgress" class="progress-bar bg-success" style="width:0%;"></div>
    </div>
    <div id="tokenTimer" class="text-end small mt-1">
        Tiempo restante: <span id="tokenCountdown">--:--</span>
    </div>
</section>
