<!-- ================= ITEMS ================= -->
<section id="userItemsSection" class="fade-in" style="display:none;">
    <div class="mb-2 d-flex gap-2">
        <input type="text" id="itemNameInput" class="form-control" placeholder="Nombre">
        <input type="text" id="itemDescInput" class="form-control" placeholder="Descripción">
        <button id="addItemBtn" class="btn btn-success">Agregar Item</button>
    </div>
    <div class="table-responsive">
        <table id="userItemsTable" class="table table-striped table-hover table-bordered align-middle">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</section>