<!-- Token y progreso -->
<section class="dashboard-section">
    {% include 'dashboard/admin/partials/_token_progress.html' %}
</section>
<!-- Token y progreso -->
<section class="dashboard-section">
    {% include 'dashboard/admin/partials/_audit_panel.html' %}
</section>
<!-- KPI -->
<section class="dashboard-section">
    {% include 'dashboard/admin/partials/_kpi_cards.html' %}
</section>
<!-- Charts -->
<!--{% include 'dashboard/admin/partials/_charts.html' %}-->
<!-- Auditoría sesiones -->
{% include 'dashboard/admin/partials/_audit_session.html' %}
<!-- Auditoría logs -->
{% include 'dashboard/admin/partials/_audit_logs.html' %}
<!-- Users -->
{% include 'dashboard/admin/partials/_users.html' %}
<!-- Overview -->
{% include 'dashboard/admin/partials/_overview.html' %}
<!-- Endpoints -->
{% include 'dashboard/admin/partials/_endpoints.html' %}
<!-- API Metrics -->
{% include 'dashboard/admin/partials/_metrics_api.html' %}
