{% extends 'layout.html' %}
{% block title %}Panel Admin{% endblock %}
{% block content %}
<div id="dashboardContent" style="display:none;">
    <p id="tokenTimer" class="fw-bold text-success"></p>
    <div class="admin-only">
        <div class="row">
            <div class="col-md-6">
                <div class="container mt-5">
                    <div id="audit-panel" class="mt-3"></div>
                </div>
            </div>
        </div>
        <div id="audit-table" class="container my-4" style="display:none">
            <h2 class="mb-4">🔐 Auditoría</h2>
            <div class="filters mb-2 d-flex gap-2 flex-wrap">
                <input id="userIdInput" class="form-control w-auto" placeholder="User ID" type="text">
                <select id="eventFilter" class="form-select w-auto">
                    <option value="">Todos los eventos</option>
                    <option value="ip_change">IP-CHANGE</option>
                    <option value="user_agent_change">AGENT-CHANGE</option>
                    <option value="revoked">REVOKED</option>
                    <option value="refresh_token">REFRESH TOKEN</option>
                    <option value="multiple_attempts">MULTIPLE ATTEMPTS</option>
                    <option value="expiration">EXPIRATION</option>
                </select>
                <input id="filterStart" type="date" class="form-control w-auto">
                <input id="filterEnd" type="date" class="form-control w-auto">
                <button id="applyFilters" class="btn btn-sm btn-outline-primary">Aplicar</button>
            </div>
            <div class="table-responsive mb-3">
                <table id="logsTable" class="table table-striped table-hover table-bordered align-middle">
                    <thead>
                        <tr>
                            <th data-sort="timestamp" class="border border-primary">📅 Timestamp<span class="sort-icon"></span></th>
                            <th data-sort="event_type" class="border border-warning">⚡ Evento<span class="sort-icon"></span></th>
                            <th data-sort="user_id" class="border border-success">👤 Usuario<span class="sort-icon"></span></th>
                            <th data-sort="ip_address" class="border border-info">🌐 IP<span class="sort-icon"></span></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="pagination mt-2 d-flex align-items-center gap-3">
                <button id="prevPage" class="btn btn-sm btn-outline-secondary">Anterior</button>
                <span id="pageIndicator" class="fw-bold"></span>
                <button id="nextPage" class="btn btn-sm btn-outline-secondary">Siguiente</button>
            </div>
        </div>
        <div id="audit-session" class="container mt-4" style="display:none">
            <h2 class="mb-4">🔐 Sesiones activas</h2>
            <label for="statusFilter" class="form-label">Filtrar por estado:</label>
            <select id="statusFilter" class="form-select w-auto">
                <option value="">Todos</option>
                <option value="active">Activas</option>
                <option value="revoked">Revocadas</option>
                <option value="expired">Expiradas</option>
            </select>
            <table id="tablaSesiones" class="table-sesiones">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Device</th>
                        <th>Browser</th>
                        <th>Login_At</th>
                        <th>Refresh_at</th>
                        <th>Reason</th>
                        <th>Status</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="user-table" class="container my-4" style="display:none">
            <h2 class="mb-4">👤 Users</h2>
            <div class="filters mb-2 d-flex gap-2 flex-wrap">
                <input id="usernameInput" type="text" class="form-control w-auto" placeholder="Username">
                <input id="filterCreatedUser" type="date" class="form-control w-auto">
                <input id="filterUpdatedUser" type="date" class="form-control w-auto">
                <button id="applyFiltersUser" class="btn btn-sm btn-outline-primary">Aplicar</button>
                <button id="clearFiltersUser" class="btn btn-sm btn-outline-secondary">Limpiar</button>
            </div>
            <div class="table-responsive mb-3">
                <table id="userTable" class="table table-striped table-hover table-bordered align-middle">
                    <thead>
                        <tr>
                            <th data-sort="username" class="border border-primary" data-label="User">User</th>
                            <th data-sort="rol" class="border border-warning" data-label="Rol">Rol</th>
                            <th data-sort="failed_attempts" class="border border-warning" data-label="Attempts">Attempts</th>
                            <th data-sort="created_at" class="border border-success" data-label="Create">Create</th>
                            <th data-sort="time_create_at" class="border border-success" data-label="CTime">CTime</th>
                            <th data-sort="updated_at" class="border border-info" data-label="Update">Update</th>
                            <th data-sort="time_update_at" class="border border-info" data-label="UTime">UTime</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="pagination-controls">
                <button id="firstPageUser" class="btn btn-primary btn-sm">⏮ Inicio</button>
                <button id="prevPageUser" class="btn btn-primary btn-sm">⬅ Anterior</button>
                <span id="pageIndicatorUser" class="ms-2"></span>
                <button id="nextPageUser" class="btn btn-primary btn-sm">Siguiente ➡</button>
                <button id="lastPageUser" class="btn btn-primary btn-sm">Fin ⏭</button>

                <input type="number" id="jumpToPageUser" class="form-control d-inline-block"
                       style="width: 80px; margin-left: 10px;" placeholder="Página" min="1">
                <button id="goToPageUser" class="btn btn-success btn-sm">Ir</button>
            </div>



        </div>
        <div id="grafico-metricas" class="container mt-5" style="display:none">
            <h1 class="mb-4">Dashboard Performance en Tiempo Real 🚀</h1>

            <div class="row">
                <div class="col-md-6">
                    <canvas id="inputDelayChart"></canvas>
                </div>
                <div class="col-md-6">
                    <canvas id="presentationDelayChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <button id="chatToggle"
            class="btn btn-primary rounded-circle p-3" disabled>
    </button>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="{{ url_for('static', filename='js/main/admin.js') }}"></script>

{% endblock %}