{% extends 'layout.html' %}
{% block title %}Panel Admin{% endblock %}
{% block content %}
<div id="dashboardContent" style="display:none;">
    <h2><span id="userName"></span></h2>
    <p id="tokenTimer" class="fw-bold text-success"></p>
    <div class="admin-only">
        <div class="row">
            <div class="col-md-6">
                <div class="container mt-5">
                    <div id="audit-panel" class="mt-3"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="audit-table" class="col-md-8">
                <h2 class="mb-4">🔐 Auditoria</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>IP</th>
                            <th>User-Agent</th>
                            <th>Motivo</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody id="auditTable">
                        <!-- JS lo llena -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container mt-5">
                    <h2 class="mb-4">🔐 Sesiones activas</h2>
                    <label for="statusFilter" class="form-label">Filtrar por estado:</label>
                    <select id="statusFilter" class="form-select w-auto">
                        <option value="">Todos</option>
                        <option value="active">Activas</option>
                        <option value="revoked">Revocadas</option>
                        <option value="expired">Expiradas</option>
                    </select>
                    <table id="tablaSesiones" class="table-sesiones">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Device</th>
                                <th>Browser</th>
                                <th>Login_At</th>
                                <th>Refresh_at</th>
                                <th>Reason</th>
                                <th>Status</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button id="chatToggle"
            class="btn btn-primary rounded-circle p-3" disabled>
    </button>
</div>
<script type="module" src="{{ url_for('static', filename='js/main/admin.js') }}"></script>

{% endblock %}