{% extends "layout.html" %}

{% block title %}Dashboard Usuario{% endblock %}

{% block content %}
<div id="dashboardContent" style="display:none;">
    <h2><span id="userName"></span></h2>
    <p id="tokenTimer" class="fw-bold text-success"></p>

    <div class="row">
        <div class="col-md-4">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white">Estado</div>
                <div class="card-body">
                    <p class="card-text">Tu sesión es válida y activa.</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Resumen</div>
                <div class="card-body">
                    <ul>
                        <li>Rol: Usuario</li>
                        <li>Permisos: Lectura, edición limitada</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <button id="chatToggle"
            class="btn btn-primary rounded-circle p-3" disabled>
    </button>
</div>
<script type="module" src="{{ url_for('static', filename='js/main/user.js') }}"></script>
{% endblock %}